* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilos para el icono del menu*/

.icono_menu {
    margin: 40px  50px;
    position: relative;
    z-index: 10;
}
#icono-del-menu {
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

/*Estilos para el contenedor del menu*/

.cont_menu_active {
    background-color: rgb(42, 42,42);
    box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}

/*Estilos para el listado del menu */

.cont_menu_active ul {
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.cont_menu_active ul li {
    color: white;
    display: block;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}

.cont_menu_active ul li:hover {
    background-color: rgb(228, 228, 288);
    color: rgb(42, 42,42);

}

/*Estilos para agregar a Javascript*/

.active {
    transform: translate(-600px);
}

.opacity {
    background-color:rgba(0, 0, 0, 0.5) ;
    transition: .5s all ease;

}

/*Footer*/

.content {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
}